<!DOCTYPE html>
<html>
<head>
    <title>Квест-сити - нереальный город реальных квестов</title>
    <meta name="description" content="Квест-сити - целый город квестов в реальности"/>
    <meta name="keywords" content="Квест-сити, квестсити, квест в реальности, квест"/>
    <meta name='yandex-verification' content='6bcb47242f97ab7c' />
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/js/jquery-ui.min.css"/>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon"/>
    <script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/script.js?v=1"></script>
</head>
<body>
<div id="wrapper">
    <div id="logo">
        <a href="/"><img src="/img/logo.png"></a>
    </div>
    <div id="header">
        <div id="menu">
            <ul>
                <li><a href="/" title="Главная"><img src="/img/menu-main.png"></a></li>
                <li><a href="/schedule" title="Забронировать"><img src="/img/menu-schedule.png"></a></li>
                <li><a href="/article/location/" title="Где мы"><img src="/img/menu-where.png"></a></li>
                <li><a href="/article/about/" title="Кто мы"><img src="/img/menu-who.png"></a></li>

            </ul>
        </div>
    </div>
    <div id="content">
        {% block content %} {% endblock %}
    </div>
    <div id="footer">
        <div class="social-buttons" style="float:left;width:200px;">

                <a href="mailto:kvestsiti@gmail.com" target="_blank"><img src="/img/mail.png" /></a>&nbsp;<a href="http://vk.com/kvestsiti" target="_blank"><img src="/img/vk.png"></a>&nbsp;<a href="http://twitter.com/kvestsiti" target="_blank"><img src="/img/twitter.png"></a>&nbsp;<a href="http://instagram.com/kvestsiti" target="_blank"><img src="/img/instagram.png"></a>
            </div>
            <div style="text-align:right;margin-left:200px;"> ул. Кошурникова, 53/1<br />+7-923-708-0044<br />@ 2014 Квестсити.рф</div>
        </div>
    </div>

</body>
</html>
