{% extends '::base.html.twig' %}

{% block content %}

    <div class="qu-quests">
        <table class="qu-quests-table">
            <tr class="qu-quests-row">
                {% for quest in quests %}
                    <td class="qu-quests-cell"><a href="/quest/{{ quest.name }}" title="{{ quest.title }}">
                            <img src="/files/{{ quest.name }}.jpg" width="350" height="350"></a></td>
                {% endfor %}

            </tr>
            <tr class="qu-quests-row">

            </tr>
        </table>
    </div>
{% endblock %}